.admin_history-inline-style-1 { color:var(--accent);margin-right:10px;font-size:22px; }
.admin_history-inline-style-2 { display:none; }
.admin_history-inline-style-3 { display:none; }
.admin_history-inline-style-4 { color:var(--accent);font-weight:600; }